#judul {
    margin-left: 630px;
    margin-top: 250px;
    margin-bottom: 200px;
}

#judul-welcome {
    font-size: 65px;
}

#judul-g2x {
    font-size: 120px;
}

#judul-button {
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-left: 40px;
}

.button-logo {
    width: 200px;
    height: 200px;
    left: 54%;
    margin-left: -100px;
    top: 89%;
    margin-top: -100px;
    position: absolute;
    z-index: -1;
}

#games, #competitions, #webinar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#competitions {
    margin-top: 120px;
}

.img-button-arrow {
    width: 200px;
}

.button-arrow {
    font-size: 40px;
    background-color: transparent;
    border: 0px;
}

.button-arrow-resp {
    display: none;
}

#game-entries-2 {
    display: flex;
    justify-content: space-around;
}

.game-entries-box {
    width: 250px;
    height: 120px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
}

.button-game-entries {
    width: 50px;
    height: 50px;
    border-radius:50%;
    font-size: 30px;
}

.footer-box {
    width: 100px;
    height: 100px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 20px;
}

#button-contact {
    width: 40px;
    height: 40px;
    border-radius: 12px;
}

.game-entries-def {
    display: block;
}

.game-entries-resp {
    display: none;
}

.logo {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 1200px) {
    #judul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-top: 0px;
    }

    #judul-welcome, #judul-g2x {
        font-size: 50px;
    }

    #judul-button {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    #games, #competitions, #webinar {
        margin-bottom: 100px;
    }

    .button-arrow-def {
        display: none;
    }

    .button-arrow-resp {
        display: block;
    }

    .sub-judul {
        font-size: 45px;
    }
}

@media screen and (max-width: 800px) {
    #judul-welcome, #judul-g2x {
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    #judul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-top: 0px;
    }

    #judul-welcome, #judul-g2x {
        font-size: 30px;
    }

    #competitions {
        margin-top: 0px;
    }

    .footer-box {
        width: 60px;
        height: 60px;
        background-color: gray;
        border: 2px solid black;
        border-radius: 20px;
    }

    #judul-button {
        display: none;
    }

    .sub-judul {
        font-size: 30px;
    }

    #game-entries-2 {
        display: none;
    }

    .button-game-entries {
        display: none;
    }

    .game-entries-def {
        display: none;
    }

    .game-entries-resp {
        display: block;
    }

    
    /* DRAGABLE CAROUSEL */

    .game-entries-box {
        height: 150px;
        width: 400px;
        border-radius: 5px;
        background-color: #D9D9D9;
    }
    
    .game-entries-div {
        width: 100%;
        height: 150px;
        position: absolute;
        top: 389%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    .game-entries-1 {
        width: 150%;
        display: flex;
        gap: 10px;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
    }
}