#header-button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.header-text {
    font-size: 25px;
    color: black;
    text-decoration: none;
}

#judul {
    margin-left: 630px;
    margin-top: 250px;
}

#judul-welcome {
    font-size: 65px;
}

#judul-g2x {
    font-size: 120px;
}

#judul-button {
    width: 25%;
}

#games, #competitions, #webinar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#competitions {
    margin-top: 120px;
}

.button-arrow {
    font-size: 40px;
}

.button-arrow-resp {
    display: none;
}

#game-entries-2 {
    display: flex;
    justify-content: space-around;
}

.game-entries-box {
    width: 250px;
    height: 120px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
}

.button-game-entries {
    width: 50px;
    height: 50px;
    border-radius:50%;
    font-size: 30px;
}

.footer-box {
    width: 100px;
    height: 100px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 20px;
}

#button-contact {
    width: 40px;
    height: 40px;
    border-radius: 12px;
}

.game-entries-def {
    display: block;
}

.game-entries-resp {
    display: none;
}

@media screen and (max-width: 600px) {
    #judul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-top: 0px;
    }

    #judul-welcome, #judul-g2x {
        font-size: 30px;
    }

    #competitions {
        margin-top: 0px;
    }

    .footer-box {
        width: 60px;
        height: 60px;
        background-color: gray;
        border: 2px solid black;
        border-radius: 20px;
    }

    #judul-button {
        display: none;
    }

    #games, #competitions, #webinar {
        margin-bottom: 100px;
    }

    .button-arrow-def {
        display: none;
    }

    .button-arrow-resp {
        display: block;
    }

    #game-entries-2 {
        display: none;
    }

    .button-game-entries {
        display: none;
    }

    .game-entries-def {
        display: none;
    }

    .game-entries-resp {
        display: block;
    }

    .game-entries-div {
        width: 100%;
        height: 350px;
        position: absolute;
        top: 410%;
        left: 70%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    #game-entries-1 {
        width: 200%;
        display: flex;
        gap: 20px;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
    }
}
