#index {
    background-repeat: no-repeat !important;
    background-size: cover;
}
#judul {
    margin-left: 50%;
    margin-top: 250px;
    margin-bottom: 200px;
}

#judul-text {
    display: flex;
    flex-direction: column;
}

#judul-welcome {
    font-size: 65px;
}

#judul-g2x {
    font-size: 120px;
}

#judul-button {
    margin-right: 50px;
    padding-left: 0px;
}

.button-logo {
    width: 180px;
    position: relative;
}

#games, #competitions, #webinar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#competitions {
    margin-top: 120px;
}

.img-button-arrow {
    width: 150px;
}

.button-arrow {
    font-size: 40px;
    background-color: transparent;
    border: 0px;
}

.button-arrow-resp {
    display: none;
    justify-content: space-around;
}

.game-entries-div {
    display: flex;
    justify-content: center;
}

.game-entries-1 {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 0px;
}

.game-entries-box {
    width: 250px;
    height: 120px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 80px;
}

#button-arrow-left {
    margin-left: 50px;
}

#game-entries-box-1, #game-entries-box-6 {
    margin-left: 0px;
}

#game-entries-box-3, #game-entries-box-8 {
    margin-right: 0px;
}

.button-game-entries {
    background-color: transparent;
    border: 0px;
    margin-bottom: 40px;
}

#button-arrow-left {
    margin-left: 40px;
}

#button-arrow-right {
    margin-right: 40px;
}

#game-entries-1, #game-entries-4 {
    margin-right: 20px;
}

#game-entries-2, #game-entries-5 {
    margin-left: 0px;
}

#game-entries-3, #game-entries-6 {
    margin-left: 20px;
}

.outside {
    display: none;
}

.logo-arrow {
    width: 100px;
}

.footer-box {
    width: 120px;
    height: 120px;
}

#button-contact {
    width: 40px;
    height: 40px;
    border-radius: 12px;
}

.game-entries-def {
    display: block;
}

.game-entries-resp {
    display: none;
}

.logo {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 1400px) {
    #index{
        background-image: url('src/backgrounds/landing-page-no-pulau.jpg')
    }
    #judul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-top: 0px;
    }

    #judul-text {
        display: flex;
        flex-direction: row;
    }

    #judul-welcome, #judul-g2x {
        font-size: 50px;
    }

    #judul-button {
        display: none;
    }

    .footer-box {
        width: 120px;
        height: 120px;
    }
    /* DRAGABLE CAROUSEL */

    .outside {
        display: block;
    }

    .button-game-entries {
        display: none;
    }

    .game-entries-def {
        display: none;
    }

    .game-entries-resp {
        display: block;
    }

    .game-entries-box {
        height: 150px;
        width: 400px;
        border-radius: 5px;
        background-color: #D9D9D9;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .game-entries-div {
        width: 100%;
        height: 150px;
        position: absolute;
        top: 2220px;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    .game-entries-1 {
        width: 150%;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    .game-entries-box {
        margin: 0;
    }
}

@media screen and (max-width: 1200px) {
    #index{
        background-image: url('src/backgrounds/landing-page-no-pulau.jpg')
    }
    #judul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-top: 0px;
    }

    #judul-welcome, #judul-g2x {
        font-size: 50px;
    }

    #judul-button {
        display: none;
    }
    .footer-box {
        width: 110px;
        height: 110px;
    }
    /* DRAGABLE CAROUSEL */

    .button-game-entries {
        display: none;
    }

    .game-entries-def {
        display: none;
    }

    .game-entries-resp {
        display: block;
    }

    .game-entries-box {
        height: 150px;
        width: 400px;
        border-radius: 5px;
        background-color: #D9D9D9;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .game-entries-div {
        width: 100%;
        height: 150px;
        position: absolute;
        top: 2150px;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    .game-entries-1 {
        width: 150%;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 992px) {
    #index{
        background-image: url('src/backgrounds/landing-page-no-pulau.jpg')
    }
    #games, #competitions, #webinar {
        margin-bottom: 100px;
    }

    .button-arrow-def {
        display: none;
    }

    .button-arrow-resp {
        display: block;
    }

    .sub-judul {
        font-size: 45px;
    }

    .footer-box {
        width: 100px;
        height: 100px;
    }
    /* DRAGABLE CAROUSEL */

    .button-game-entries {
        display: none;
    }

    .game-entries-def {
        display: none;
    }

    .game-entries-resp {
        display: block;
    }

    .game-entries-box {
        height: 150px;
        width: 400px;
        border-radius: 5px;
        background-color: #D9D9D9;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .game-entries-div {
        width: 100%;
        height: 150px;
        position: absolute;
        top: 3500px;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    .game-entries-1 {
        width: 150%;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 800px) {
    #index{
        background-image: url('src/backgrounds/landing-page-no-pulau.jpg')
    }
    #judul-welcome, #judul-g2x {
        font-size: 40px;
    }
    .footer-box {
        width: 90px;
        height: 90px;
    }
    /* DRAGABLE CAROUSEL */

    .button-game-entries {
        display: none;
    }

    .game-entries-def {
        display: none;
    }

    .game-entries-resp {
        display: block;
    }

    .game-entries-box {
        height: 150px;
        width: 400px;
        border-radius: 5px;
        background-color: #D9D9D9;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .game-entries-div {
        width: 100%;
        height: 150px;
        position: absolute;
        top: 3480px;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    .game-entries-1 {
        width: 150%;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 760px) {
    #index{
        background-image: url('src/backgrounds/mobile-landing-page-no-pulau.jpg') !important;
    }
    .footer-box {
        width: 80px;
        height: 80px;
    }
    /* DRAGABLE CAROUSEL */

    .button-game-entries {
        display: none;
    }

    .game-entries-def {
        display: none;
    }

    .game-entries-resp {
        display: block;
    }

    .game-entries-box {
        height: 150px;
        width: 400px;
        border-radius: 5px;
        background-color: #D9D9D9;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .game-entries-div {
        width: 100%;
        height: 150px;
        position: absolute;
        top: 3420px;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    .game-entries-1 {
        width: 150%;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 730px) {
    #index{
        background-image: url('src/backgrounds/mobile-landing-page-no-pulau.jpg') !important;
    }
    /* DRAGABLE CAROUSEL */

    .button-game-entries {
        display: none;
    }

    .game-entries-def {
        display: none;
    }

    .game-entries-resp {
        display: block;
    }

    .game-entries-box {
        height: 150px;
        width: 400px;
        border-radius: 5px;
        background-color: #D9D9D9;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .game-entries-div {
        width: 100%;
        height: 150px;
        position: absolute;
        top: 3400px;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    .game-entries-1 {
        width: 150%;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 600px) {
    #index{
        background-image: url('src/backgrounds/mobile-landing-page-no-pulau.jpg') !important;
    }
    #judul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-top: 0px;
    }

    #judul-welcome, #judul-g2x {
        font-size: 30px;
    }

    #competitions {
        margin-top: 0px;
    }


    #judul-button {
        display: none;
    }

    .sub-judul {
        font-size: 30px;
    }
    .footer-box {
        width: 60px;
        height: 60px;
    }
    /* DRAGABLE CAROUSEL */

    .button-game-entries {
        display: none;
    }

    .game-entries-def {
        display: none;
    }

    .game-entries-resp {
        display: block;
    }

    .game-entries-box {
        height: 150px;
        width: 400px;
        border-radius: 5px;
        background-color: #D9D9D9;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .game-entries-div {
        width: 100%;
        height: 150px;
        position: absolute;
        top: 3240px;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    .game-entries-1 {
        width: 1000px;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
    }
}

#index{
    background-repeat: no-repeat !important;
    background-size: cover;
}