@media only screen and (min-width: 992px) {
    #game-mobile {
        display: none;
    }

    #game-entries {
        background-image: url('src/backgrounds/game-entries.jpg') !important;
    }

    .header-navbar {
        margin-left: 200px;
        margin-right: 200px;
    }

    #title h1 {
        font-size: 48pt;
    }
    
    #title p {
        font-size: 12pt;
    }
}

@media only screen and (max-width: 992px) {
    #game-desktop {
        display: none;
    }

    #game-entries {
        background-image: url('src/backgrounds/mobile-game-entries.jpg') !important;
    }

    .header-navbar {
        margin-left: 30px;
        margin-right: 30px;
    }

    #title h1 {
        font-size: 56pt;
    }
    
    #title p {
        font-size: 14pt;
    }

    .game-container h5 {
        font-size: 24pt;
    }

    .game-container p {
        font-size: 14pt;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-brand img {
        width: 160px;
    }

    #game-desktop {
        margin-left: 210px;
        margin-right: 210px;
    }

    #title {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-brand img {
        width: 96px;
    }

    #game-mobile {
        margin-left: 20px;
        margin-right: 20px;
    }

    #title {
        margin-top: 50px;
    }

    #title h1 {
        font-size: 26pt;
    }
    
    #title p {
        font-size: 10pt;
    }

    .game-container h5 {
        font-size: 14pt;
    }
    
    .game-container p {
        font-size: 9pt;
    }
}

@media only screen and (min-width: 450px) {
    .footer-info h3 {
        padding-top: 400px;
    }

    .footer-info {
        background-image: url('src/backgrounds/website_footer.png');
    }
}

@media only screen and (max-width: 450px) {
    .footer-info h3 {
        padding-top: 270px;
    }

    .footer-info {
        background-image: url('src/backgrounds/mobile_footer.png');
    }
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none;
}

#game-entries {
    background-repeat: no-repeat !important;
    background-size: 100% !important; 
}

#game-desktop {
    margin-top: 120px;
}

.img-select{
    border: 3px solid #0A194F;
}

#game-mobile {
    margin-top: 80px;
}

.game-container {
    width: auto;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #0A194F !important;
    transition: 0.3s !important;
}

.nav-link:hover {
    transform: scale(1.1) !important;
}

.image-container {
    position: relative;
}

.image-container img {
    transition: transform .3s;
}

.image-container:hover img {
    transform: scale(1.05);
}

.play-button {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: transform .3s;
    transition: opacity .3s;
}

.image-container:hover .play-button {
    opacity: 100;
}


.btn-page {
    padding: 8px 16px !important;
    font-size: 18pt;
}

.btn-arrow {
    padding: 4px 13px !important;
}

.btn-arrow b {
    font-size: 16pt;
}

.footer-info {
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-info p {
    font-size: 10pt;
}

/* CSS PAGE DOWNLOAD */

.button-game {
    width: 50px;
    height: 50px;
    border-radius:50%;
    font-size: 30px;
}

.box-game {
    width: 600px;
    height: 350px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
}



.button-choose>p{
    font-size: 12px;
}