@media only screen and (min-width: 992px) {
    #game-mobile {
        display: none;
    }

    .header-navbar {
        margin-left: 200px;
        margin-right: 200px;
    }

    #title h1 {
        font-size: 48pt;
    }
    
    #title p {
        font-size: 12pt;
    }

    .button-choose>p{
        font-size: 24px;
        font-weight: bold;
    }
    .button-choose {
        width: 200px;
    }
}

@media only screen and (max-width: 992px) {
    #game-desktop {
        display: none;
    }

    .header-navbar {
        margin-left: 30px;
        margin-right: 30px;
    }

    #title h1 {
        font-size: 56pt;
    }
    
    #title p {
        font-size: 14pt;
    }

    .game-container h5 {
        font-size: 24pt;
    }

    .game-container p {
        font-size: 14pt;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-brand img {
        width: 64px;
    }

    #game-desktop {
        margin-left: 210px;
        margin-right: 210px;
    }

    #title {
        margin-top: 100px;
    }

    
}

@media only screen and (max-width: 768px) {
    .navbar-brand img {
        width: 48px;
    }

    #game-mobile {
        margin-left: 20px;
        margin-right: 20px;
    }

    #title {
        margin-top: 50px;
    }

    #title h1 {
        font-size: 26pt;
    }
    
    #title p {
        font-size: 10pt;
    }

    .game-container h5 {
        font-size: 14pt;
    }
    
    .game-container p {
        font-size: 9pt;
    }


    .button-choose>p{
        font-size: 16px;
        font-weight: bold;
    }
    .button-choose {
        width: 125px;
    }
    
}

#game-desktop {
    margin-top: 120px;
}

#game-mobile {
    margin-top: 80px;
}

.game-container {
    width: auto;
}

.navbar-nav {
    margin-left: auto;
}

.image-container img {
    transition: transform .3s;
}

.image-container img:hover {
    transform: scale(1.05);
}

.btn-page {
    padding: 8px 16px !important;
    font-size: 18pt;
}

.btn-arrow {
    padding: 4px 13px !important;
}

.btn-arrow b {
    font-size: 16pt;
}

.footer-info p {
    font-size: 10pt;
}


/* MODAL */

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 800%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
  
/* Modal Content */
#modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
 
.close {
    align-self: flex-end;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* CSS PAGE DOWNLOAD */

.button-game {
    width: 50px;
    height: 50px;
    border-radius:50%;
    font-size: 30px;
}

.box-game {
    width: 600px;
    height: 350px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
}



.profile {
    width: 80px;
    height: 80px;
    background-color: gray;
    border: 3px solid black;
}

